<html>

<head>
    <meta charset="utf-8">
    <title>ANGULAR</title>
</head>

<body ng-app>
	 <input type="text" ng-model="task"/>
	 {{task}}
	</br>
	Additions </br>
	<input type="text" ng-model="number1"/>
	<input type="text" ng-model="number2"/>
	{{"somme : "+(number1*1+number2*1)}}
</br> list of users 
    <div ng-init="users=['Marc','John','Lisa']">
<ul>
	<li ng-repeat="user in users">{{user|uppercase }}</li></br>
	<li ng-repeat="user in users">{{user|lowercase }}</li>
</ul>
    </div>


   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
</body>

</html>