
<html>

<head>
    <meta charset="utf-8">
    <title>ANGULAR_scope and controller</title>
</head>

<body ng-app>
	 <input type="text" ng-model="query"/>
	 <select ng-model="order">
      <option value="username">organize by name</option>
      <option value="content">organize by content</option>
  </select> 
  <div ng-controller="comCtrl">
    <div ng-repeat="comment in comments|filter:{content:query}|orderBy:order">
      <p>
         <strong>{{comment.username}}</strong></br>
         {{comment.content}}
      </p>

    </div>
  </div>
    

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script>
    function comCtrl($scope){
      $scope.comments= [
      {"username":"John Smith",
      "city":"New York",
      "mail":"john.smith@gmail.com",
      "content":"JS is cool!!"},
      {"username":"David Cohen",
      "city":"Tel Aviv",
      "mail":"david.co@gmail.com",
      "content":"Angular JS is a framework very interesting"},
      {"username":"Max Reinler",
      "city":"Paris",
      "mail":"max@gmail.com",
      "content":"Yes of couse! but it can be complicated for the beginners"},
      {"username":"Uzalara Khartigesu",
      "city":"Bangkok",
      "mail":"khartigesu@gmail.com",
      "content":"I' m a beginer in JS and I find it more comprensible with youtube videos !"},
      {"username":"Emmanuel Nguyen",
      "city":"Pekin",
      "mail":"nguyen@gmail.com",
      "content":"I am agree with uzalara ! See my tuto on you tube "}
      ];
    }
  </script>
  
</body>

</html>
